includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - app
        - routes
        - resources/views
        - tests
