body {
    font-family: "Hiragino Sans", Meiryo, sans-serif;
}

.message-box {
    height: 600px;
}

.inner-container {
    width: 80%;
}

li {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}
